<ul id="nav">
  <% if user_signed_in? %>
      <li><%= current_user.email%></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path%></li>
    <% end %>
</ul>

<h1><%= @hola %></h1>

<% if user_signed_in? %>
	<% if current_user.user_type == "Admin" %>
		<div id="questions">
			<%= link_to "Administrar Preguntas", questions_path, :style=>'color:#000' %>
			<br>
			<%= link_to "Administrar Usuarios", users_path, :style=>'color:#000' %>
		</div>
	<% else %>
		<div id="questions">
			<%= link_to "Preguntas Personales" , personal_index_path , :style=>'color:#000' %>
			<br>
			<%= link_to "Preguntas", questions_path, :style=>'color:#000' %>
		</div>

	<% end %>
<% else %>
		<div id="questions">
			<%= link_to "Preguntas", questions_path, :style=>'color:#000' %>
		</div>

<% end %>