<ul id="nav">
    <li><a href="#signup">Sign Up</a></li>
    <li><a href="#login">Log In</a></li>
</ul>


<div id="questions">
  <h1> Administrar Preguntas</h1>
  <table>
    <div id="table_index">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </div>

  <% @questions.each do |question| %>
    <tr>
      <td id="title"><%= question.title %></td>
      <td><%= question.content %></td>
      <td><%= link_to 'Show', question %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Question', new_question_path %>
</div>
