<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Ask Beaver', home_index_path, :class=>"brand"%>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                <li><a href="#user"><%= current_user.email%></a><li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                <% else %>
              <li><%= link_to "Sign in", new_user_session_path%></li>
            <% end %>
          </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


<br>
<div class="container">

  <!-- Preguntas -->
  <div class="hero-unit">
  <% if user_signed_in? %>
    <% if current_user.user_type == "Admin" %>
      <h1> Administrar Preguntas</h1>
    <% else %>
      <h1> Preguntas</h1>
    <% end %>
  <% else %>
    <h1> Preguntas</h1>
  <% end %>
  </div>
  <br>

  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="span5">
      <col class="span5">
      <col class="span1">
      <col class="span1">
      <col class="span1">
    </colgroup>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Usuario</th>
        <th>Contenido</th>
        <th></th>
        <% if user_signed_in? %>
          <% if current_user.user_type == "Admin"%>
            <th></th>
            <th></th>
          <% end %>
        <% end %>
      </tr>
    </thead>

  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td id="title"><%= question.title %></td>
      <td><%= get_user_email(question) %></td>
      <td><%= question.content %></td>
      <% if user_signed_in? %>
        <td><%= link_to 'Show', question, :style=>'color:#000' %></td>
        <!-- Si es administrador, permitir editar y destruir -->
        <% if current_user.user_type == "Admin"%>
          <td><%= link_to 'Edit', edit_question_path(question), :style=>'color:#000' %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :style=>'color:#000;' %></td>
        <% end %>
      <% end %>

    </tr>
    </tbody>
  <% end %>
  </table>

  <br />
  <% if user_signed_in? %>
    <% if current_user.user_type == "NormalUser" %>
      <%= link_to 'Nueva pregunta', new_question_path , :class=>"btn btn-primary", :style=>'color:#FFF'%>
    <% end %>
  <% end %>
  
</div>


