<ul id="nav">
  <% if user_signed_in? %>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path%></li>
    <% end %>
</ul>


<div id="questions">

  <!-- Preguntas -->
  <% if current_user.type == "Admin" %>
    <h1> Administrar Preguntas</h1>
  <% else %>
    <h1> Preguntas</h1>
  <% end %>

  <table>
    <div id="table_index">
      <tr>
        <th>Titulo</th>
        <th>Contenido</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </div>

  <% @questions.each do |question| %>
    <tr>
      <td id="title"><%= question.title %></td>
      <td><%= question.content %></td>
      <td><%= link_to 'Show', question, :style=>'color:#000' %></td>

      <!-- Si es administrador, permitir editar y destruir -->
      <% if current_user.type == "Admin"%>
        <td><%= link_to 'Edit', edit_question_path(question), :style=>'color:#000' %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :style=>'color:#000;' %></td>
      <% end %>

    </tr>
  <% end %>
  </table>

  <br />

  <% if current_user.type == "NormalUser" %>
    <%= link_to 'Hacer una nueva pregunta', new_question_path %>
  <% end %>
</div>
