<ul id="nav">

  <% if user_signed_in? %>
      <li><%= current_user.email%></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>

    <% else %>
      <li><%= link_to "Sign in", new_user_session_path%></li>
    <% end %>
</ul>


<div id="questions">

	<h1>New question</h1>

	<%= render 'form' %>

	<%= link_to 'Back', questions_path %>

</div>
