<ul id="nav">
  <% if user_signed_in? %>
      <li><%= current_user.email%></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path%></li>
    <% end %>
</ul>


<div id="questions">

  <h1> Preguntas Personales</h1>


  <table>
    <div id="table_index">
      <tr>
        <th>Titulo</th>
        <th>Contenido</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </div>

  <% @questions.each do |question| %>
    <tr>
      <td id="title"><%= question.title %></td>
      <td><%= question.content %></td>
      <td><%= link_to 'Show', question, :style=>'color:#000' %></td>

    </tr>
  <% end %>
  </table>

  <br />

  <% if current_user.user_type == "NormalUser" %>
    <%= link_to 'Hacer una nueva pregunta', new_question_path ,:style=>'color:#000'%>
  <% end %>
  <%= link_to 'Back', questions_path, :style=>'color:#000;' %>
</div>
