<!-- start navigation bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Ask Beaver', home_index_path, :class=>"brand"%>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                <li><a href="#user"><%= current_user.email%></a><li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                <% else %>
              <li><%= link_to "Sign in", new_user_session_path%></li>
            <% end %>
          </ul>
            </div>
        </div>
    </div>
</div>
<!-- end navigation bar -->


<p id="notice"><%= notice %></p>

<div class="container">
  <h1><b>Title: </b><%= @question.title %></h1>
  <h10>question made by user: <%= get_user_email(@question) %></h10>
  <p><b>Content: </b><%= @question.content %></p>

<!-- COMENTARIOS CORRESPONDIENTES A UNA PREGUNTA -->

<div class="comment-level">
  <h4>Comments</h4>
  <% @question.comment_questions.each do |comment| %>
    <p><%= comment.content %> -- <%= get_user_email(@question) %></p> 
  <% end %>


<!-- CREACION DE UN NUEVO COMENTARIO -->

  <% if current_user.user_type == "NormalUser"%>
    <h4>Add a comment:</h4>
    <%= form_for([@question, @question.comment_questions.build]) do |f| %>
      <div class="field"> <%= f.label :content %><br><%= f.text_field :content %></div>
      <div class="actions"> <%= f.submit %></div>
    <% end %>
  <% end %>
</div>

<!-- RESPUESTAS -->


  <h2>Answers</h2>
  <% @question.answers.each do |answer| %>
    <p>
      <b>Answer:</b>
      <%= answer.content %> -- <%= get_user_email(@question) %>
      <!--ACEPTAR PREGUNTA COMO CORRECTA-->
      <% if @question.user_id == current_user.id %>
        <br> Did you like this answer? -- </br>
        <%= form_for([@question, answer]) do |f| %>
          <%= f.check_box :validation %>
          <%= f.submit 'Validate'%>
        <% end %>

      <% end %>
      <% if accepted(answer) %>
        <h3> Respuesta aceptada </h3>
      <% end %>
      <p> Gusta <%= how_many_votes_true(answer) %> </p>
      <p> No gusta <%= how_many_votes_false(answer) %> </p>
      <% if !has_voted(answer) and current_user.user_type == "NormalUser" %>
          <%= form_for([@question, answer, answer.votes.build]) do |f| %>
            
            <%= f.radio_button(:qualification, 't') %>
            <%= f.label(:qualification, 'like') %>
            <%= f.radio_button(:qualification, 'f') %>
            <%= f.label(:qualification, 'dislike') %>
            <%= f.submit 'Vote!'%>
          <% end %>
      <% end %>

    </p>  


<!-- COMENTARIOS CORRESPONDIENTES A UNA RESPUESTA -->

<div class="comment-level">
  <h4>Comments</h4>
  <% answer.comment_answers.each do |comment| %>
    <p><%= comment.content %> -- <%= get_user_email(@question) %></p> 
  <% end %>

<!-- CREACION DE UN NUEVO COMENTARIO -->

  <% if current_user.user_type == "NormalUser"%>
    <h4>Add a comment:</h4>
    <%= form_for([@question, answer, answer.comment_answers.build]) do |f| %>
      <div class="field"><%= f.label :content %><br><%= f.text_field :content %></div>
      <div class="actions"><%= f.submit %></div>
    <% end %>
  <% end %>
  
</div>
<br><br>
<% end %>



<!-- CREACION DE UNA NUEVA RESPUESTA -->
<% if current_user.user_type == "NormalUser" and @question.user_id != current_user.id%>
  <div id="answers">
     <h2>Add an answer:</h2>
    <%= form_for([@question, @question.answers.build]) do |f| %>
      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_field :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<% end %>
</div>
