<ul id="nav">

  <% if user_signed_in? %>
      <li><%= current_user.email%></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>

    <% else %>
      <li><%= link_to "Sign in", new_user_session_path%></li>
    <% end %>
</ul>


<p id="notice"><%= notice %></p>

<div id="questions">
  <h1>
    <b>Title:</b>
    <%= @question.title %>
  </h1>
  <h10>
    question made by user: <%= User.find(@question.user_id).email %>
  </h10>
  <p>
    <b>Content:</b>
    <%= @question.content %>
  </p>

  <%= link_to 'Back', questions_path, :style=>'color:#000;' %>
</div>

<!-- COMENTARIOS CORRESPONDIENTES A UNA PREGUNTA -->

<div id="comments">
  <h4>Comments</h4>
  <% @question.comment_questions.each do |comment| %>
    <p>
      <!--   <b>Comment:</b>-->
      <%= comment.content %> -- <%= User.find(comment.user_id).email %>
    </p> 

  <% end %>

<!-- CREACION DE UN NUEVO COMENTARIO -->

  <% if current_user.type == "NormalUser"%>
    <h4>Add a comment:</h4>
    <%= form_for([@question, @question.comment_questions.build]) do |f| %>
      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_field :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- RESPUESTAS -->

<div id="answers">
  <h2>Answers</h2>
  <% @question.answers.each do |answer| %>
    <p>
      <b>Answer:</b>
      <%= answer.content %> -- <%= User.find(answer.user_id).email %>
      <!--ACEPTAR PREGUNTA COMO CORRECTA-->
      <% if @question.user_id == current_user.id %>
        <br> Did you like this answer? -- </br>
        <%= form_for([@question, answer]) do |f| %>
          <%= f.check_box :validation %>
          <%= f.submit 'Accept'%>
        <% end %>

      <% end %>
      <% if !has_voted? %>
          <%= form_for([@question, answer, answer.votes.build]) do |f| %>
            <%= f.radio_button(:qualification, 't') %>
            <%= f.label(:qualification, 'like') %>
            <%= f.radio_button(:qualification, 'f') %>
            <%= f.label(:qualification, 'dislike') %>
            <%= f.submit 'Vote!'%>
          <% end %>
      <% end %>

    </p>  
</div>


<!-- COMENTARIOS CORRESPONDIENTES A UNA RESPUESTA -->

<div id="comments">
  <h4>Comments</h4>
  <% answer.comment_answers.each do |comment| %>
    <p>
      <b>Comment:</b>
      <%= comment.content %> -- <%= User.find(comment.user_id).email %>
    </p> 
  <% end %>

<!-- CREACION DE UN NUEVO COMENTARIO -->

  <% if current_user.type == "NormalUser"%>
    <h4>Add a comment:</h4>
    <%= form_for([@question, answer, answer.comment_answers.build]) do |f| %>
      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_field :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>


<!-- CREACION DE UNA NUEVA RESPUESTA -->
<% if current_user.type == "NormalUser" and @question.user_id != current_user.id%>
  <div id="answers">
     <h2>Add an answer:</h2>
    <%= form_for([@question, @question.answers.build]) do |f| %>
      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_field :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<% end %>
