<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>

<!-- COMENTARIOS CORRESPONDIENTES A UNA PREGUNTA -->


<h2>Comments</h2>
<% @question.comments.each do |comment| %>
  <p>
    <b>Comment:</b>
    <%= comment.content %>
  </p> 
<% end %>

<!-- CREACION DE UN NUEVO COMENTARIO -->


<h2>Add a comment:</h2>
<%= form_for([@question, Comment.new]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- RESPUESTAS -->

<h2>Answers</h2>
<% @question.answers.each do |answer| %>
  <p>
    <b>Answer:</b>
    <%= answer.content %>
  </p>  
  <p>
  <%= link_to 'Destroy Answer', [answer.question, answer],
               :confirm => 'Are you sure?',
               :method => :delete %>
  </p>


<!-- COMENTARIOS CORRESPONDIENTES A UNA RESPUESTA -->


<h3>Comments</h3>
<% answer.comments.each do |comment| %>
  <p>
    <b>Comment:</b>
    <%= comment.content %>
  </p> 
<% end %>

<!-- CREACION DE UN NUEVO COMENTARIO -->


<h3>Add a comment:</h3>
<%= form_for([@question, answer, answer.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<% end %>

 <h2>Add a answer:</h2>
<%= form_for([@question, @question.answers.build]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>