<h1>Listing comment_answers</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comment_answers.each do |comment_answer| %>
  <tr>
    <td><%= comment_answer.content %></td>
    <td><%= comment_answer.answer %></td>
    <td><%= link_to 'Show', comment_answer %></td>
    <td><%= link_to 'Edit', edit_comment_answer_path(comment_answer) %></td>
    <td><%= link_to 'Destroy', comment_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment answer', new_comment_answer_path %>
